<div class="messenger-container">

  <div class="sidebar">
    <div class="sidebar-header">
      <h3>Chats</h3>
    </div>
    <div class="chat-list">
      <div class="chat-item" *ngFor="let contact of contacts" (click)="selectChat(contact)">
        <div class="avatar">{{ contact.charAt(0).toUpperCase() }}</div>
        <div class="chat-info">
          <h4>{{ contact }}</h4>
        </div>
      </div>
    </div>
  </div>


  <div class="chat-area" *ngIf="selectedContact">
    <div class="sidebar-header chat-header">
      <h3>{{ selectedContact }}</h3>
    </div>
    <div class="chat-messages">
      <div
        *ngFor="let message of messages"
        class="msg"
      >
        <p [ngClass]="{ 'my-message': message.fromMe, 'other-message': !message.fromMe }">{{ message.text }}</p>

      </div>
    </div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
