.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF8EE;
  padding: 10px 20px;
  font-size: 24px;
}

.logo {
  font-weight: bold;
  color : #FBA692;
  cursor: pointer;
}

.custom-avatar {
  background-color: white !important;
  color: black !important;
  cursor : pointer;
}

.header-btn {
  margin-right: 10px;
}

img {
  max-height: 50px;
  max-width: 50px;
}
