<div class="settings-container">
  <h2>Paramètres du compte</h2>

<!--  <div class="form-group">-->
<!--    <label for="username">Nom d'utilisateur</label>-->
<!--    <input id="username" pInputText placeholder="Nom d'utilisateur" value="{{user.username}}" [formControl]="usernameControl" />-->
<!--    <p-button label="Modifier" class="modify-btn" (click)="updateUser()"></p-button>-->
<!--  </div>-->

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" pInputText placeholder="Email" value="{{user.email}}" [formControl]="emailControl" />
    <p-button label="Modifier" class="modify-btn" (click)="updateUser()"></p-button>
  </div>
  <p *ngIf="emailControl.hasError('missingAt') && !emailControl.untouched" style="color: red;">
    L'email doit contenir un symbole '&#64;'
  </p>
  <p *ngIf="emailControl.hasError('required') && !emailControl.untouched" style="color: red;">
    L'email est requis.
  </p>

  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input id="password" pInputText placeholder="Mot de passe" type="password" [formControl]="passwordControl" />
    <p-button label="Modifier" class="modify-btn" (click)="updateUser()"></p-button>
  </div>

  <h2>Interests</h2>

  <div class="form-group">
    <label for="interest">Interest</label>
<!--    <input id="interest" pInputText placeholder="" [formControl]="interestControl"/>-->
    <p-dropdown id="interest" [options]="selectedOptionInterest" [(ngModel)]="selectedInterest" placeholder="Interest"> </p-dropdown>
    <p-button label="Ajouter" class="modify-btn" (click)="addInterest()"></p-button>
  </div>

  <div class="interests">
    <p-chip *ngFor="let interest of interests"
            [removable]="true"
            [label]="interest"
            (onRemove)="deleteInterest(interest)">
    </p-chip>

  </div>

  <h2>Demande d'amis</h2>

  <div class="demandes">
    <app-demandes *ngFor="let dem of demandes" [friend]="dem"></app-demandes>
  </div>


  <p-button *ngIf="isAdmin" routerLink="/admin">Accéder à la page admin</p-button>

</div>
